!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://localhost:10927/socket.io/socket.io.js")
    script(src="/javascripts/smoothie.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
  body
    section#wrapper!= body
        canvas#mycanvas
        script(type='text/javascript')
          var socket = io.connect();
          var smoothie = new SmoothieChart({
              grid: 
              { 
                  strokeStyle: 'rgba(0,0,0,0.1)'
                  , fillStyle: 'white'
                  , verticalSections: 6
                  , lineWidth: 1
                  , millisPerLine: 1000
              },
              labels: { fillStyle:'rgb(144,144,144)' }
            });
          // Data
          console.log('About to add time series');

          var line1 = new TimeSeries();
           smoothie.streamTo(document.getElementById("mycanvas"), 1000 /*delay*/);
          smoothie.addTimeSeries(line1,
            { strokeStyle:'rgb(0, 255, 0)', lineWidth:5 });

          var line2 = new TimeSeries();
          smoothie.addTimeSeries(line2,
             {stokeStyle: 'rgb(200, 0, 0)', lineWidth:5 });

          console.log('socket status', socket);
          socket.on('count_yes', function (data) {
            console.log('count_yes trigger got executed for ', data.number);
            line1.append(new Date().getTime(), data.number);
                $('span').text(data.number + '!');
          });

          socket.on('count_no', function (data) {
            console.log('count_no trigger got executed for ', data.number);
            line2.append(new Date().getTime(), data.number);
                $('span').text(data.number + '!');
          });


          // Add to SmoothieChart
          smoothie.addTimeSeries(line1);
          smoothie.addTimeSeries(line2);
